{% extends "blog/base.html" %} <!-- наследование от шаблона blog/base.html -->

{% block title %}My Blog{% endblock %}

{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}
        <h2>
            <!-- используем шаблонный тег -->
            <a href="{{ post.get_absolute_url }}"> <!-- → вызывает reverse() → ищет маршрут по имени → подставляет параметры → возвращает путь. -->
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        <!-- применяем 2 шаблонных фильтра -->
        <!-- truncatewords усекает значение до указанного числа слов -->
        <!-- linebreaks конвертирует результат в разрывы строк в формате HTML -->
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    
    {% include "pagination.html" with page=page_obj %} <!-- шаблон с навигацией -->
{% endblock %}